*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body,html,#sterbe-map{
    height:100%;
}
body{
    color:#333;
    font-family:sans-serif;
}
h1, h3 {
    text-align: center;
}
#sterbe-map{
    border: thin solid black;
    background:white;
    /*padding-right: 50%;*/
    height: 100%;
    width: 50%;
    float: left;
}
#geburten-map{
    border: thin solid black;
    background:white;
    /*padding-left: 50%;*/
    height: 100%;
    width: 50%;
    float: right;
}
.geburten-daten{
    position: absolute;
    top:2em;
   	left:50em;
    z-index:8;
    background:rgba(0,0,0,.75);
    color:white;
    padding:.5em .75em;
    font-size:.85em;
    display:none;
}
.sterbe-daten{
    position: absolute;
    top:2em;
   	left:3em;
    z-index:6;
    background:rgba(0,0,0,.75);
    color:white;
    padding:.5em .75em;
    font-size:.85em;
    display:none;
}