*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body,html{
    height:100%;
}
body{
    color:#333;
    font-family:sans-serif;
}
h1, h3, #unterueber1, #unterueber2 {
    text-align: center;
}
#sterbe-map, #geburten-map{
    border: thin solid black;
    background:white;
    height: 100%;
    width: 50%;
    float: left;
}
#sterbe-map-info, #geburten-map-info{
    border: none;
    background: white;
    height: 100%;
    width: 50%;
    float: right;
}